.root {
    --window-width: auto;
    --window-height: auto;
}

.container {
    position: absolute;
    display: grid;
    direction: ltr;

    background-color: rgba(0, 0, 0, 0.2);

    scrollbar-width: none;

    z-index: 4;

    top: 31%;
    left: 50%;

    width: calc(var(--window-width) * 0.825);
    height: calc(var(--window-height) * 0.65);

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    transform: translate(-50%);

    overflow-x: hidden;
    overflow-y: scroll;

    grid-template-columns: repeat(3, 1fr);


    row-gap: calc(var(--window-height) * 0.05);
    column-gap: calc(var(--window-width) * 0.05);


}

.container::-webkit-scrollbar {
    display: none;
}

.element {
    position: relative;
    height: calc(var(--window-height) * 0.1);
    background-color: blue;
}