:root {
    --window-width: auto;
    --window-height: auto;

    --post-intro-opacity: 0;
}

.intro {
    width: var(--window-width);
    height: var(--window-height);

    overflow: hidden;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    position: fixed;
    z-index: 5;
    pointer-events: none;
    top: 0px;
    left: 0px;
}

.intro-shadow {
    opacity: 0.25;
}

.button-pillar {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    width: var(--window-width);
    height: calc(var(--window-height) * 0.3);
}

.pillars {
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    width: calc(var(--window-width) * 0.09);
    height: var(--window-height);

    z-index: 2;

    position: fixed;

    top: 0px;
    transform: translate(-50%);
}

.pillar-left {
    left: 30%;
}

.pillar-right {
    left: 70%;
}

.background {
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    z-index: 1;

    position: fixed;
    top: 0px;
    left: 0px;

    width: var(--window-width);
    height: var(--window-height);
}

.button {

    z-index: 4;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    transition: width, height;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.21,.94,.59,2.33);

}

.home-button {
    top: 25.5%;
    left: 45%;

    position: fixed;

    width: calc(var(--window-width) * 0.05);
    height: calc(var(--window-height) * 0.05);

    transform: translate(-50%, -50%);
}

.account-button {
    top: 18%;
    left: 50%;

    position: fixed;

    width: calc(var(--window-width) * 0.05);
    height: calc(var(--window-height) * 0.05);

    transform: translate(-50%, -50%);
}

.home-button:hover {
    content: url(assets/shared/buttons/home/hover.png);

    width: calc(var(--window-width) * 0.06);
    height: calc(var(--window-height) * 0.06);
}

.account-button:hover {
    content: url(assets/shared/buttons/account/hover.png);

    width: calc(var(--window-width) * 0.06);
    height: calc(var(--window-height) * 0.06);
}

.cell {
    position: absolute;
    top: 50%;
    left: 50;
    z-index: 10;
}