.root {
    --window-width: auto;
    --window-height: auto;
}

.login-signup-pillar {
    position: absolute;
    top: 10%;
    left: 50%;

    transform: translate(-50%);

    z-index: 3;

    image-rendering: crisp-edges;
    image-rendering: pixelated;

    width: calc(var(--window-width) * 0.6);
    height: calc(var(--window-height) * 0.5);
}