.song-card {
    position: relative;

    width: 15%;
    height: 80%;

    transition: transform;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(.21,.94,.59,2.33);

    transform-origin: center;
}

.song-card[clicked="true"] {
    outline-style: double;
    outline-color: red;

    color: white;
}

.song-card:hover {
    transform: scale(1.08);

    color: white;
}

.song-card-cover {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 80%;

    
}

.song-card-name {
    position: absolute;

    top: 80%;
    left: 0;

    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("assets/shared/foreground/button_pillar_shadowless.png");
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

    filter: grayscale(10%);
}